#banner.banner
  .row
    .columns.small-12
      img(src='/public/img/logo1.png')
    .columns.small-12(class='Pt(32px)')
      h1.shadow Ropa limpia sin salir de casa.
    .columns.small-12
      a(href='#shorts').more.scrolly M&aacute;s Informaci&oacute;n
