footer.footer
  .row(class='Pt(32px)')
    .columns.medium-2.small-12(class='Py(21px)')
      h5(class='Pb(14px)') Nuestra compania
      ul(class='Px(7px)').no-bullet
        //- li
        //-   a(href='/blog') Blog
        li
          a(href='/faq') Preguntas Frecuentes
        li
          a(href='/about') Nuestra Mision
        //- li
        //-   a(href='#') Terminos y Condiciones
    .columns.medium-2.small-12(class='Py(21px)')
      h5(class='Pb(14px)') Servicios
      ul(class='Px(7px)').no-bullet
        li
          a(href='/#shorts' data-target='people') A personas
        li
          a(href='/#shorts' data-target='company-pickup') Empresarial
        li
          a(href='/#shorts') En tu lugar de trabajo
        li
          a(href='/#pricing') Precios
        //- li
        //-   if isAuthenticated
        //-     a(href='/main') Iniciar Sesión
        //-   else
        //-     a(href='#login', data-open='login-modal') Iniciar Sesión
    //- .columns.medium-2.small-12(class='Py(21px)')
    //-   h5(class='Pb(14px)') Usuarios
    //-   ul(class='Px(7px)').no-bullet
  .row(class='Py(21px) Ta(c)')
    .columns.small-12
      a(href='https://www.facebook.com/tersuslavanderia/', target='_blank').social
        i.fa.fa-facebook
      a(href='https://twitter.com/tersus_help', target='_blank').social
        i.fa.fa-twitter
  .row(class='Py(21px) Ta(c)')
    .columns.small-12
      span(class='D(ib) Mx(14px)') &copy; Tersus Lavanderia 2016
