footer.footer
  .row
    .columns.medium-3.small-12(class='Py(21px)')
      h5 Nuestra compania
      ul.no-bullet
        //- li
        //-   a(href='/blog') Blog
        //- li
        //-   a(href='/carrers') Empleo
        li
          a(href='/about') Nuestra Mision
        li
          a(href='#') Tems
    .columns.medium-3.small-12(class='Py(21px)')
      h5 Servicios
      ul.no-bullet
        li
          a(href='/#shorts' data-target='people') A personas
        li
          a(href='/#shorts' data-target='company-pickup') Empresarial
        li
          a(href='/#shorts' data-target='company') En tu lugar de trabajo
  .row(class='Py(21px) Ta(c)')
    .columns.small-12
      a(href='https://www.facebook.com/tersuslavanderia/', target='_blank').social
        i.fa.fa-facebook
      a(href='https://twitter.com/tersus_help', target='_blank').social
        i.fa.fa-twitter
  .row(class='Py(21px) Ta(c)')
    .columns.small-12
      span(class='D(ib) Mx(14px)') &copy; Tersus Lavanderia 2016
