doctype html
html(lang='en')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
    meta(name="description" content="Lavanderia a domicilio, ropa limpia sin salir de casa")
    title Tersus Lavanderia
    include styles
    block styles
  body
    block content
    include login
    include track
    include scripts
    block scripts
    script.
      var loginError = !{JSON.stringify(error).replace(/<\//g, "<\\/")}
      var fbAccount = !{JSON.stringify(fbAccount).replace(/<\//g, "<\\/")}
      var isAuthenticated = #{isAuthenticated}
      // Initialize Account Kit with csrf protection
      function AccountKit_OnInteractive() {
        AccountKit.init({
          appId: fbAccount.appId,
          state: fbAccount.csrf,
          version: fbAccount.version,
        });
      }
