doctype html
html(lang='en')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(charset='utf-8')
    meta (name="description" content="Lavanderia a domicilio, ropa limpia sin salir de casa")
    title Tersus Lavanderia
    include styles
    block styles
  body
    include menu
    block menu
    block content
    include footer
    block footer
    include scripts
    block scripts
