#login-modal.login-modal.reveal(data-reveal)
  h3.subheader Login
  .row.text-center(class='Pt(32px)')
    .small-12.text-center
      a.button.facebook(href='/auth/facebook')
        i.fa.fa-facebook-official
        span(class='Mstart(10px)') |
        span(class='Mstart(10px)') Login con Facebook
  hr
  .row
    .small-12.columns
      label Numero de Telefono:
    .small-12.columns
      input#phoneNumber(type="tel", placeholder="(555) 555-5555")
    .small-12.text-center
      button.button.sms#loginWithPhone
        i.fa.fa-mobile
        span(class='Mstart(10px)') |
        span(class='Mstart(10px)') Login con Mobile
  hr
  .row
    .small-12.columns
      label Correo electrico:
    .small-12.columns
      input#emailAddress(type="email", placeholder="Email")
    .small-12.text-center
      button.button.email#loginWithEmail
        i.fa.fa-envelope
        span(class='Mstart(10px)') |
        span(class='Mstart(10px)') Login con Email
  button.close-button(data-close, aria-label="Close Accessible Modal", type="button")
    span(aria-hidden="true") &times;

form#AccountKitForm(name="AccountKitForm" action="/accountkitlogin" method="POST" class="D(n)")
  input#code(type="hidden" name="code")
  input#csrf_nonce(type="hidden" name="csrf_nonce")
