#login-modal.login-modal.reveal(data-reveal)
  h3.subheader Login
  .row(class='Ta(c)')
    .medium-12.medium-center
      a.button.facebook(href='/auth/facebook')
        i.fa.fa-facebook-official
        span(class='Mstart(10px)') |
        span(class='Mstart(10px)') Login with Facebook
