header#header.header.alt
  div.header-logo(class='P(7px)')
    img(src='/public/img/bear1.png')
  nav(class='Pt(10px)').show-for-medium
    ul
      li
        a(href='/') Inicio
      li
        a(href='/#shorts') Como empezar?
      //- li
      //-   a(href='/maps') Mapa
      li
        a(href='/#pricing') Precios
      li
        a(href='/#contact') Contacto
      li
        a(href='#login', data-open='login-modal') Log In
  nav#nav.nav.mobile.hide-for-medium
    ul
      li.special
        a(href='#menu' class='Mt(7px)').menuToggle
          span Menu
      #menu.menu.hide.menuToggle
        ul
          li
            a(href='/') Inicio
          li
            a(href='/#shorts') Como empezar?
          //- li
          //-   a(href='/maps') Mapa
          li
            a(href='/#pricing') Precios
          li
            a(href='/#contact') Contacto
          li
            a(href='#login', data-open='login-modal') Log In
        a(href='#menu').close
