#pricing.pricing.banner(class='Py(40px)')
  article.row(class='My(28px)')
    h1 PRECIOS
  article.row.align-center
    .columns
      .card
        .pricing-cost
          h5 Blancos
          .circ-step.blue(class='My(14px)')
            img(src='/public/img/washing-machine-blue.svg', width='36px', height='36px')
          h6 Desde
          h1 $30
          p Sabanas	$30, Colchas, Cobijas y Edredones en todo tamnio $65
  article.row
    .columns.medium-4.small-12
      .card
        .pricing-cost
          h5 Lavanderia
          .circ-step.blue(class='My(14px)')
            img(src='/public/img/washing-machine-blue.svg', width='36px', height='36px')
          h6 Desde
          h1 $80
          p Servicio de lavado desde $80, ropa limpia sin salir de casa!
          //- .row
          //-   button(type='button' class='button initCalculator') Calcula tu Costo
    .columns.medium-4.small-12
      .card
        .pricing-cost
          h5 Planchaduria
          .circ-step.blue(class='My(14px)')
            img(src='/public/img/plancha-blue.svg', width='36px', height='36px')
          h6 Desde
          h1 $70
          p Servicio de planchaduria desde $70, tu imagen siempre profecional!
          //- .row
          //-   button(type='button' class='button initCalculator') Calcula tu Costo
    .columns.medium-4.small-12
      .card
        .pricing-cost
          h5 Tintoreria
          .circ-step.blue(class='My(14px)')
            img(src='/public/img/gancho-blue.svg', width='36px', height='36px')
          h6 Desde
          h1 $38
          p Servicio de tintoreria desde $38, tus prendas favoritas bien cuidadas!
          //- .row
          //-   button(type='button' class='button initCalculator') Calcula tu Costo
    .columns.small-12
      #PriceCalculator.price-calculator
    .card.columns.medium-12.small-12
      //- h5 Los precios incluyen
      //- p
      //-   | Precio de entrega y servicios dentro de zonas de servicio
      h6 Tenemos precios especiales para empresas, por favor contactanos al numero (33) 22 64 1111 
        //- a(href='#contact') este link.
