script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery#{minAssets}.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash#{minAssets}.js')
script(src='/public/js/main.js')
