script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery#{minAssets}.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.0/foundation#{minAssets}.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-noty/2.3.8/packaged/jquery.noty.packaged.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/jquery.waypoints#{minAssets}.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/stellar.js/0.6.2/jquery.stellar.min.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyCkf62CueLleu2_yaZqfL_lxKvTQm-srS0&libraries=geometry,places' async defer)
script(src='https://sdk.accountkit.com/en_US/sdk.js')
script(src='/public/js/home#{minAssets}.js')
