include ../common/styles
link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation-flex#{minAssets}.css')
link(rel='stylesheet', href='/public/css/atomic#{minAssets}.css')
link(rel='stylesheet', href='/public/css/home#{minAssets}.css')
