include ../common/styles
link(rel='stylesheet', href=`https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.4/semantic${minAssets}.css`)
link(rel='stylesheet', href=`https://cdnjs.cloudflare.com/ajax/libs/flatpickr/${versions["flatpickr"]}/flatpickr.min.css`)
link(rel='stylesheet', href=`/public/css/atomic${minAssets}.css`)
link(rel='stylesheet', href=`/public/css/main${minAssets}.css`)
