node_modules
test/artifacts/*
.sass-lint.yml
.csscomb.json
.vscode
tsd.json
jsconfig.json
typings/
public/
heapdump*
logs/
configs/vault.json
npm-debug.log
yarn.lock

# git rm --cached github_rsa
# github_rsa
# dockerHandler.sh

.idea/*
