
@mixin radial-progress(
  $circle-background: _palette(il-gray),
  $circle-color: _palette(il-green),
  $inset-color: _palette(il-white),
  $percentage-color: _palette(il-green),
  $circle-size: 150px,
  $inset-size: 140px,
  $percentage-font-size: 14px,
  $shadow: 3px 3px 5px _palette(trans-2),
  $transition-length: 1s
) {
  width:  $circle-size;
  height: $circle-size;
  border-radius: 50%;
  background-color: $circle-background;

  $increment: 180deg / 100;

  .circle {
    .mask,
    .fill,
    .shadow {
      position: absolute;
      width:    $circle-size;
      height:   $circle-size;
      border-radius: 50%;
    }

    .shadow {
      box-shadow: $shadow inset;
    }

    .mask,
    .fill {
      border-radius: 50%;
      transition: transform $transition-length;
    }

    .mask {
      clip: rect(0, $circle-size, $circle-size, $circle-size / 2);

      .fill {
        clip: rect(0, $circle-size / 2, $circle-size, 0);
        background-color: $circle-color;
      }
    }
  }

  .inset {
    position:    absolute;
    margin-top:  ($circle-size - $inset-size) / 2;
    margin-left: ($circle-size - $inset-size) / 2;
    width:       $inset-size;
    height:      $inset-size;
    border-radius: 50%;
    background-color: $inset-color;
    box-shadow: $shadow;

    .percentage {
      line-height: $inset-size;

      .numbers {

        span {
          display:        inline-block;
          color:          $percentage-color;
          text-align:     center;
          font-size:      $percentage-font-size;
        }
      }
    }
  }

  @for $i from 0 through 100 {

    &[data-progress='#{$i}'] {
      .circle {

        .mask.full,
        .fill {
          transform: rotate($increment * $i);

          &.fix {
            transform: rotate($increment * $i * 2);
          }
        }
      }
    }
  }
}
