script(src='//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery#{minAssets}.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/foundation/6.1.2/foundation#{minAssets}.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/jquery-noty/2.3.8/packaged/jquery.noty.packaged.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash#{minAssets}.js')
