@import 'vars';
@import 'getters';
@import url('https://fonts.googleapis.com/css?family=Roboto|Open+Sans');

body {
  background-color: _palette(il-white);
  font-family: 'Roboto', sans-serif;
  color: _palette(il-font);
}
