@import 'bourbon';
@import 'common';
@import 'vars';
@import 'getters';
@import 'home/faq-about';
@import 'home/pricing';
@import 'components/rheostat';

strong,
b {
  color: _palette(fg-bold);
  font-weight: _font(weight-bold);
}

em,
i {
  font-style: italic;
}

p {
  margin: 0 0 _size(element-margin);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  letter-spacing: _size(letter-spacing-alt);
  font-weight: _font(weight-extrabold);
  line-height: 1em;

  a {
    color: inherit;
    text-decoration: none;
  }
}

h2 {
  font-size: 1.35em;
  line-height: 1.75em;
}

h3 {
  font-size: 1.15em;
  line-height: 1.75em;
}

h4 {
  font-size: 1em;
  line-height: 1.5em;
}

h5 {
  font-size: .8em;
  line-height: 1.5em;
}

h6 {
  font-size: .7em;
  line-height: 1.5em;
}

sub {
  position: relative;
  top: .5em;
  font-size: .8em;
}

sup {
  position: relative;
  top: -.5em;
  font-size: .8em;
}

blockquote {
  margin: 0 0 _size(element-margin);
  padding: .5em 0 .5em 2em;
  border-left: solid 4px _palette(border);
  font-style: italic;
}

nav {
  top: 0;
  right: 0;
  height: inherit;
  line-height: inherit;
  display: inline-block;

  &.mobile {
    position: absolute;
  }

  > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;

    > li {
      display: inline-block;
      padding: 0;

      > a {
        display: block;
        padding: 0 1.5em;
        border: 0;
        color: _palette(il-font);
        text-transform: uppercase;
        letter-spacing: _size(letter-spacing-alt);
        font-size: .8em;

        &.menuToggle {
          position: relative;
          outline: 0;
          line-height: _size(element-tall);

          &:after {
            display: inline-block;
            width: 48px;
            height: 48px;
            background-image: url('../img/bars.svg');
            background-position: center center;
            background-repeat: no-repeat;
            content: '';
            vertical-align: top;
            background-color: _palette(il-black);
            border-radius: 50%;
            margin: 0 10px;
          }
        }
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }
}

.more {
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 1;
  margin-left: -8.5em;
  padding-left: _size(letter-spacing-alt);
  width: 16em;
  height: 8.5em;
  outline: 0;
  border: 0;
  color: inherit;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: _size(letter-spacing-alt);
  font-size: .8em;
  opacity: 1;

  @include transition-property(transform);
  @include transition-property(opacity);
  @include transition-property(translateY(0));
  @include transition-duration(.75s);
  @include transition-timing-function(ease-in);
  @include transition-delay(3.5s);

  &::after {
    position: absolute;
    bottom: 4em;
    left: 50%;
    display: block;
    margin: 0 0 0 -.75em;
    width: 1.5em;
    height: 1.5em;
    background-image: url('../img/arrow.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: _misc(z-index-base);
  width: 100%;
  height: 64px;
  background: _palette(il-white);
  line-height: 3em;
  box-shadow: 2px 1px 4px _palette(il-font-light);

  @include transition-property(background-color);
  @include transition-duration(_duration(transitions));

  .header-logo {
    display: inline-block;
    @include transition-property(opacity);
    @include transition-duration(_duration(transitions));
  }

  &.alt {
    background: transparent;
    color: _palette(il-white);
    box-shadow: none;

    .header-logo {
      opacity: 0;
    }

    nav {

      > ul {

        > li {

          > a {
            color: _palette(il-white);

            &.menuToggle {

              &:after {
                background-color: transparent;
              }
            }
          }
        }
      }
    }
  }
}

.page-wrapper {
  padding-top: 0;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: _palette(fg);

  @include background-image(linear-gradient(top, _palette(trans-5), _palette(trans-5)), url('../img/laundry1.jpg'));
}

.banner {
  position: relative;
  overflow: hidden;
  min-height: 35em;
  height: 100vh;
  text-align: center;
  cursor: default;

  @include align-items(stretch);
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(center);
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: _misc(z-index-base) + 2;
  overflow-y: auto;
  padding: 3em 2em;
  width: 100%;
  height: 100%;
  background: _palette(accent1, bg);
  color: _palette(accent1, fg-bold);

  @include transition-property(right);
  @include transition-duration(.75s);
  @include transition-timing-function(ease-in);
  @include transition-delay(3.5s);

  ul {
    padding: 0;
    list-style: none;

    > li {
      margin: .5em 0 0;
      padding: .5em 0 0;
      border-top: solid 1px _palette(accent1, border);

      &:first-child {
        margin-top: 0;
        padding-top: 0;
        border-top: 0;
      }

      > a {
        display: block;
        outline: 0;
        border: 0;
        color: inherit;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: _size(letter-spacing-alt);
      }
    }
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 7em;
    height: 3em;
    border: 0;
    background-image: url('../img/close.svg');
    background-position: 4.85em 1em;
    background-repeat: no-repeat;
    vertical-align: middle;
    cursor: pointer;
  }
}

.shorts {
  background-color: _palette(accent1, bg);
  text-align: center;
}

.features {
  background-color: _palette(bg);

  .f1 {
    background-color: _palette(trans-5);
  }

  .f2 {
    background-color: _palette(trans-3);
  }

  .f3 {
    background-color: _palette(trans-4);
  }
}

.pricing {
  text-align: center;
}

.button {
  &.facebook {
    background-color: #3b5998;
  }
  &.email, &.sms {
    background-color: _palette(accent1, bg);
  }
}

.circ-step {
  padding: 24px;
  border: 2px solid _palette(il-white);
  border-radius: 50%;
  display: inline-block;

  i {
    min-width: 42px;
  }

  img {
    min-height: 36px;
  }

  .circ-step-divide {
    position: absolute;
    width: 50%;
    top: 20%;
    right: -25%;
  }

  &.blue {
    border-color: _palette(il-font-blue-dark);
  }
}

.circ-option {
  padding: 24px;
  opacity: .6;
  border-radius: 50%;
  display: inline-block;

  i {
    min-width: 42px;
  }

  img {
    min-height: 36px;
  }

  &.selected {
    opacity: 1;
  }

  &.laundry {
    background-color: _palette(il-font-blue-dark);
  }

  &.iron {
    background-color: _palette(accent1, bg);
  }

  &.dry {
    background-color: _palette(accent8, bg);
  }

}

.shadow {
  text-shadow: 2px 2px _palette(trans-5);
}

.box-shadow {
  box-shadow: 1px 1px 2px 1px _palette(trans-5);
}

.map {
  height: 550px;
}

.map-shim {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  &::before {
    content: '';
  }
}

.info {
  top: 0;
  left: 15%;
  color: _palette(accent8, fg);
  background-color: _palette(accent8, bg);
  height: 550px;
}

.social {
  &:link,
  &:visited {
    color: _palette(il-white);
    margin: 0 27px;
    border-radius: 45px;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 50px;
    font-size: 150%;
    display: inline-block;
    text-decoration: none;
  }

  &:hover {
    color: _palette(bg);
    background-color: _palette(il-white);
  }
}

.footer {
  color: _palette(il-white);
  background-color: _palette(bg);

  a {
    color: _palette(il-white-med);
    font-size: 12px;
  }
}

.type-select {
  cursor: pointer;
}

.overlay-dark {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: _palette(trans-3);
}

.slider-handle {
  border-radius: 50%;
  background-color: _palette(il-font-blue-dark);
}

// Small only
// @media screen and (max-width: 39.9375em) {}

// Medium and up
// @media screen and (min-width: 40em) {}

// Medium only
// @media screen and (min-width: 40em) and (max-width: 63.9375em) {}

// Large and up
// @media screen and (min-width: 64em) {}

// Large only
// @media screen and (min-width: 64em) and (max-width: 74.9375em) {}


// sections
.section-title {
  width: 100%;
  text-align: center;
}

.big-text {
  text-align: left;
}

.anchor {
  display: block;
  height: 70px;
  margin-top: -70px;
  visibility: hidden;
}
