@import 'bourbon';
@import 'common';
@import 'vars';
@import 'getters';

.container {
  position: relative;
  min-height: 700px;
  background-color: _main(colors, background);
  @include clearfix;
}

.sidebar {
  .sidebar-content,
  .sidebar-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    transition: left .3s ease-in-out 0s;
  }

  .sidebar-overlay {
    right: 0;
    z-index: 999;
    width: 100%;
    background: _palette(trans-4);
    opacity: 0;
    transform: scale(0);
  }

  .sidebar-content {
    z-index: 9999;
    visibility: hidden;
    padding: 14px;
    background: _palette(il-white);
    color: _palette(il-font);
    transform: translateX(-100%);

    .top-head {
      padding-right: 28px;

      .name {
        margin-bottom: 5px;
        font-weight: 400;
        font-size: 28px;
      }

      .email {
        margin-bottom: 50px;
        font-size: 13px;
      }
    }

    .nav-left > a {
      display: block;
      padding: 10px 0;
      border-bottom: 1px solid _palette(il-white-dark);
      color: _palette(il-font);
      vertical-align: top;
      text-decoration: none;
      font-size: 16px;
      line-height: 24px;

      > span {
        display: inline-block;
        margin-left: 10px;
        color: _palette(il-font-light);
      }
    }
  }

  &.active {
    .sidebar-content {
      visibility: visible;
      transform: translateX(0);
    }

    .sidebar-overlay {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.banner {
  box-shadow: inset 0 0 10px _palette(trans-2);

  @include clearfix;
}

.footer {
  padding: 40px 0;
  text-align: center;
  text-transform: uppercase;

  a {
    color: _palette(il-gray);
    font-size: small;
  }

  span {
    margin: 0 10px;
    color: _palette(il-gray);
  }
}
