@import "bourbon";
@import "common";

#container {
  position: relative;
  background-color: #FDFFFC;
  box-shadow: 0px 1px 5px #888;
  overflow-x: hidden;
  min-height: 700px;
  @include clearfix;
}

.sidebar {
  .sidebar-content,
  .sidebar-overlay {
    top: 0;
    left: 0;
    bottom: 0;
    position: absolute;
    -webkit-transition: all .3s ease-in-out 0s;
    transition: all .3s ease-in-out 0s;
  }
  .sidebar-overlay {
    right: 0;
    opacity: 0;
    width: 100%;
    z-index: 999;
    -webkit-transform: scale(0);
            transform: scale(0);
    background: rgba(0, 0, 0, .4);
  }
  .sidebar-content {
    color: #333;
    z-index: 9999;
    background: #fff;
    visibility: hidden;
    padding: 15px 0px 15px 15px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    .top-head {
      padding-right: 50px;
      .name {
        font-size: 28px;
        font-weight: 400;
        margin-bottom: 5px;
      }
      .email {
        font-size: 13px;
        margin-bottom: 50px;
      }
    }
    .nav-left > a {
      color: #333;
      display: block;
      font-size: 16px;
      padding: 10px 0;
      line-height: 24px;
      vertical-align: top;
      text-decoration: none;
      border-bottom: 1px solid #DDD;
      > span {
        color: #666;
        margin-left: 10px;
        display: inline-block;
      }
    }
  }
  &.active {
    .sidebar-content {
      visibility: visible;
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    .sidebar-overlay {
      opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
}

#footer {
  text-transform: uppercase;
  text-align: center;
  padding: 40px 0;
  a {
    color: #AAA;
    font-size: small;
  }
  span {
    color: #AAA;
    margin: 0 10px;
  }
}
