extends home/layout

block styles

block content
  #page-wrapper.page-wrapper
    include home/menu
    #page-title.callout.large.primary
      h1 Something horrible it's going on...
      img(src='https://http.cat/#{error.code}')
    include home/footer
