extends home/layout

block styles

block content
  #page-wrapper.page-wrapper
    include home/menu
    .page-title.faq(class='Py(80px) Pos(r)')
      .overlay-dark
      .text-center(class='Pos(r)')
        div
          img(src='/public/img/logo-sm.png')
        div
          h1 Preguntas frecuentes
    #faq.faq.menuWaypoint
      .row(class='Py(40px)')
        .small-12.columns
          ul.vertical.faq-options
            li
              a(href='#how-it-works') Como funciona Tersus lavanderia
            li
              a(href='#services') Que servicios tienen?
            li
              a(href='#days') Que dias pasan a mi colonia/oficina? 
            li
              a(href='#business') Soy negocio manejan algun precio de mayoreo? 
            li
              a(href='#time') Cuanto tiempo tardan en entregan mi pedido?
            li
              a(href='#areas') Que zonas cubre su servicio a domicilio?
            li
              a(href='#home-service-price') Tiene costo el servico a domicilio ?
            li
              a(href='#payment-services') Que formas de pago tienen?
            li
              a(href='#warranty') Manejan garantias?
          hr
          #how-it-works.blog-post
            h3(class='Pb(28px)') Como funciona Tersus lavanderia
            div
              p Tersus lavanderia, es ropa limpia sin salir de casa.
              p  Tenemos 3 tipos de servicios:
                ul
                  li
                    i.fa.fa-building-o(aria-hidden='true')
                    |  Encargo: Dejanos tu ropa y recógela cuando puedas!!
                  li
                    i.fa.fa-truck(aria-hidden='true')
                    |  Ruta: Tenemos varias 
                    a(href='#rutas') rutas
                    |  que seguro pasan cerca de ti, si no pasamos enfrente de tu casa o trabajo pero sabes que estamos por tu zona, 
                    a(href='#contact') contactanos
                    |                         y pasaremos a la brevedad por tu pedido. Al igual tus 
                    a(href='#contact') peticiones/recomendaciones
                    |  harán que agreguemos otra parada en nuestra ruta en el horario que prefieras.
                  li
                    i.fa.fa-motorcycle(aria-hidden='true')
                    |  Pedidos: No pasamos por tu domicilio en horario que puedas atendernos, 
                    a(href='#') contactanos
                    |  y vamos por tu ropa. Esto tiene un pequeño costo de recuperación, pero tu tiempo
                    |                         lo vale!!
          hr
          #services.blog-post(class='Py(40)')
            h3(class='Pb(28px)') Que servicios tienen? 
            div
              p Nuestros servicios principales servicios son: Lavanderia, Tintoreria y Planchaduria.
              p  Compara nuestros precios.
          hr
          #days.blog-post(class='Py(40)')
            h3(class='Pb(28px)') Que dias pasan a mi colonia/oficina? 
            div
              p Tenemos diferentes rutas programadas las puedes checar 
                a(href='#rutas') aqui.
              p Si aun no cubrimos tu zona, por favor 
                a(href='#contact') contactanos
                |  y trabajaremos en eso lo antes posible.
          hr
          #business.blog-post(class='Py(40)')
            h3(class='Pb(28px)') Soy negocio, manejan algun precio de mayoreo?
            div
              p Si, tenemos diversos servicios para cubrir tus necesidades, 
                a(href='#contact') contactanos
                |  y trabajemos en algo que de solución a tus necesidades.
          hr
          #time.blog-post(class='Py(40)')
            h3(class='Pb(28px)') Cuanto tiempo tardan en entregar mi pedido?
            div
              p Nos comprometemos a entregar todos los pedidos o en la 
                a(href='#rutas') ruta de entrega
                |  (normalmente 24 horas después) o tu programas tu entrega.
              p Algunos pedidos desafortunadamente nos toman mas tiempo, igual te daremos un estimado (real) de cuando te entregamos tu ropa.
          hr
          #areas.blog-post(class='Py(40)')
            h3(class='Pb(28px)') Que zonas cubre su servicio a domicilio? 
            div
              p puedes consultar las rutas que tenemos, ofrecemos la búsqueda por colonia o empresa. 
                a(href='#rutas') Aquí
          hr
          #home-service-price.blog-post(class='Py(40)')
            h3(class='Pb(28px)') Tiene costo el servicio a domicilio?
            div
              p Para pedidos individuales (fuera de rutas) puede tener un costo.
              p Depende de tu ubicacion el precio de este, puedes revisar los costos 
                a(href='#rutas') aquí
          hr
          #payment-services.blog-post(class='Py(40)')
            h3(class='Pb(28px)') Que formas de pago tienen?
            div
              p Tarjetas y Efectivo.
              p Pronto podrás registrar tu tarjeta / paypal en nuestro sistema y asi tendras mejor control de tu consumo.
          hr
          #warranty.blog-post(class='Py(40)')
            h3(class='Pb(28px)') Manejan garantias?
            div
              p Algunos tejidos, fibras y colores de las prendas son delicados y al darles tratamiento cuidamos que se mantengan en las mejores condiciones. El grado de uso y deterioro de las fibras, el tipo de mancha que presenten las prendas (origen orgánico o sintético)
                | así como los diferentes tipos de telas y combinaciones de las mismas, pueden reaccionar de distintas formas al lavado, ya sea en seco o en agua, es por ello que no podemos garantizar el quitar alguna mancha.
    include home/footer
