extends home/layout

block styles

block content
  #page-wrapper.page-wrapper
    include home/menu
    #banner.banner
      .row
        .columns.small-12
          img(src='/public/img/logo1.png')
        .columns.small-12(class='Pt(32px)')
          h1.shadow Ropa limpia sin salir de casa.
        .columns.small-12
          a(href='#shorts').more.scrolly M&aacute;s Informaci&oacute;n
    #shorts.shorts
      .row(class='Py(40px)')
        .columns.medium-8.medium-offset-2.small-12
          .row
            .columns.small-12(class='Py(21px)')
              h2 Como funciona Tersus?
          .row
            .columns.medium-4.type-select(data-target='people')
              i(class='Fz(32px)').fa.fa-user
              div(class='Fz(12px)') Pedidos
            .columns.medium-4.type-select(data-target='company-pickup')
              i(class='Fz(32px)').fa.fa-truck
              div(class='Fz(12px)') Rutas
            .columns.medium-4.type-select(data-target='company')
              i(class='Fz(32px)').fa.fa-building
              div(class='Fz(12px)') Empresa
        
        #people.columns.small-12.type-section
          .row(class='Py(21px)')
            .columns.medium-3.small-12(class='Pos(r)')
              div.circ-step(class='My(42px)')
                i.fa.fa-phone(class='Fz(42px)')
                hr.circ-step-divide.show-for-medium
              div Programa tu Orden
              div(class='Fz(12px) P(21px)') Llamanos al numero (33) 22 64 1111, para decirnos cual es el mejor momento para recojer tu ropa.
            .columns.medium-3.small-12(class='Pos(r)')
              div.circ-step(class='My(42px)')
                i(class='Fz(42px)').fa.fa-truck
                hr.circ-step-divide.show-for-medium
              div Recogemos tu Ropa
              div(class='Fz(12px) P(21px)') Nuestro personal llegara puntual a recojer tu ropa.
            .columns.medium-3.small-12(class='Pos(r)')
              div.circ-step(class='My(42px)')
                img(src='/public/img/washing-machine.svg', width='42px', height='42px')
                hr.circ-step-divide.show-for-medium
              div Limpieza experta
              div(class='Fz(12px) P(21px)') Nuestro personal con profesionalismo y atencion se asegurara que tu ropa no se encoja ni se decolore y tenga la mejor limipieza.
            .columns.medium-3.small-12
              div.circ-step(class='My(42px)')
                i(class='Fz(42px)').fa.fa-check
              div Entregamos tu ropa
              div(class='Fz(12px) P(21px)') Te llevamos tu ropa a la hora y direcci&oacute;n pactada.
        
        #company-pickup.columns.small-12.type-section.hide
          .row(class='Py(21px)')
            .columns.medium-3.small-12(class='Pos(r)')
              div.circ-step(class='My(42px)')
                i.fa.fa-calendar(class='Fz(42px)')
                hr.circ-step-divide.show-for-medium
              div Verifica horarios de rutas
              div(class='Fz(12px) P(21px)') Tenemos rutas programadas para dar atencion en tu Trabajo/Casa verifica horarios o solicita 
            .columns.medium-3.small-12(class='Pos(r)')
              div.circ-step(class='My(42px)')
                i(class='Fz(42px)').fa.fa-truck
                hr.circ-step-divide.show-for-medium
              div Recogemos su Ropa
              div(class='Fz(12px) P(21px)') Nuestro personal llegara un dia a la semana (o mas si lo requiren) siempre puntuales a recojer la ropa.
            .columns.medium-3.small-12(class='Pos(r)')
              div.circ-step(class='My(42px)')
                img(src='/public/img/washing-machine.svg', width='42px', height='42px')
                hr.circ-step-divide.show-for-medium
              div Limpieza experta
              div(class='Fz(12px) P(21px)') Nuestro personal con profesionalismo y atencion se asegurara que tu ropa no se encoja ni se decolore y tenga la mejor limipieza.
            .columns.medium-3.small-12
              div.circ-step(class='My(42px)')
                i(class='Fz(42px)').fa.fa-check
              div Entregamos tu ropa
              div(class='Fz(12px) P(21px)') Entregamos tu ropa limpia en el mismo lugar a la misma hora normalmente el dia siguiente.
      
        #company.columns.small-12.type-section.hide
          .row(class='Py(21px)')
            .columns.medium-3.small-12(class='Pos(r)')
              div.circ-step(class='My(42px)')
                i.fa.fa-phone(class='Fz(42px)')
                hr.circ-step-divide.show-for-medium
              div Programa tu Orden
              div(class='Fz(12px) P(21px)') Llamanos al numero (33) 22 64 1111, para decirnos cual es el mejor momento para recojer tu ropa.
            .columns.medium-3.small-12(class='Pos(r)')
              div.circ-step(class='My(42px)')
                i(class='Fz(42px)').fa.fa-truck
                hr.circ-step-divide.show-for-medium
              div Recogemos tu Ropa
              div(class='Fz(12px) P(21px)') Nuestro personal llegara puntual a recojer tu ropa.
            .columns.medium-3.small-12(class='Pos(r)')
              div.circ-step(class='My(42px)')
                img(src='/public/img/washing-machine.svg', width='42px', height='42px')
                hr.circ-step-divide.show-for-medium
              div Limpieza experta
              div(class='Fz(12px) P(21px)') Nuestro personal con profecionalistmo y atencion se asegurara que tu ropa no se encoja ni se decolore y tenga la mejor limipieza.
            .columns.medium-3.small-12
              div.circ-step(class='My(42px)')
                i(class='Fz(42px)').fa.fa-check
              div Entregamos tu ropa
              div(class='Fz(12px) P(21px)') Te llevamos tu ropa a la hora y direcci&oacute;n pactada.
  
    span#contact.anchor
    .contact(class='Pos(r)')
      #map.map.show-for-medium
        //- iframe(width='100%' height='500px' src="https://www.google.com/maps/embed/v1/place?q=Tersus+Lavanderia/@20.6213761,-103.4202502,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0xd8b4aad5281c3900!8m2!3d20.6213761!4d-103.4180615?hl=en")
      #info.info(class='P(18px)')
        h3 Contactanos
        h5 Estamos contentos de escucharte
        ul.no-bullet
          li(class='Py(14px)') Por Telefono
          li
            i.fa.fa-phone(class='Px(14px) Fz(24px)')
            span(class='Fz(18px)') (33) 22 64 1111
          li(class='Py(14px)') Por Whatsapp
          li
            i.fa.fa-whatsapp(class='Px(14px) Fz(24px)')
            span(class='Fz(18px)') 3319804527
          li(class='Py(14px)') Por Correo
          li
            i.fa.fa-envelope(class='Px(14px) Fz(24px)')
            span(class='Fz(18px)') clientes@tersuslavanderia.com
          li(class='Py(14px)') En persona
          li
            i.fa.fa-map-marker(class='Px(14px) Fz(24px)')
            span(class='Fz(18px)')
              | Av del pinar #1840
              br
              | Colonia Pinar de la calma
              br
              | Zapopan, Jalisco, MX 45080
    include home/footer
