extends home/layout

block styles

block content
  #page-wrapper.page-wrapper
    header#header.header.alt
      nav.show-for-medium
        ul
          li
            a(href='/') Home
          li
            a(href='#shorts') About
          li
            a(href='#shorts') Features
          li
            a(href='#pricing') Pricing
          li
            a(href='#contact') Contact
      nav#nav.nav.hide-for-medium
        ul
          li.special
            a(href='#menu').menuToggle
              span Menu
          #menu.menu.hide
            ul
              li
                a(href='/') Home
              li
                a(href='#shorts') About
              li
                a(href='#features') Features
              li
                a(href='#pricing') Pricing
              li
                a(href='#contact') Contact
              //- li
              //-   a(href='#login', data-open='login-modal') Log In
            a(href='#menu').close.menuToggle
    #banner.banner
      .row
        .columns.small-12
          img(src='/public/img/logo1.png')
        .columns.small-12(class='Py(21px)')
          h2 Ropa limpia sin salir de casa.
        .columns.small-12
          a(href='#shorts').more.scrolly M&aacute;s Informaci&oacute;n
    #shorts.shorts
      .row(class='Py(40px)')
        .columns.medium-8.medium-offset-2.small-12
          .row
            .columns.medium-4
              i(class='Fz(32px)').fa.fa-user
              div(class='Fz(12px)') Soy Persona
            .columns.medium-4
              i(class='Fz(32px)').fa.fa-truck
              div(class='Fz(12px)') Descuento para Empleados
            .columns.medium-4
              i(class='Fz(32px)').fa.fa-building
              div(class='Fz(12px)') Soy Empresa
        .columns.medium-8.medium-offset-2.small-12
          .row
            .columns.medium-3.small-12
              i(class='Fz(32px)').fa.fa-phone
              div Programa tu Orden
              div(class='Fz(12px)') Llamanos al numero 333-333-3333, para decirnos cual es el mejor momento para recojer tu ropa.
            .columns.medium-3.small-12
              i(class='Fz(32px)').fa.fa-truck
              div Recogemos tu Ropa
              div(class='Fz(12px)') Nuestro personal llegara puntual a recojer tu ropa.
            .columns.medium-3.small-12
              img(src='/public/img/washing-machine.svg', width='32px', height='32px')
              div Limpieza experta
              div(class='Fz(12px)') Nuestro personal con profecionalistmo y atencion se asegurara que tu ropa no se encoja ni se decolore y tenga la mejor limipieza.
            .columns.medium-3.small-12
              i(class='Fz(32px)').fa.fa-check
              div Entregamos tu ropa
              div(class='Fz(12px)') Te llevamos tu ropa a la hora y direcci&oacute;n pactada.
          
    //- #features.features
    //-   .row.expanded.f1
    //-     .columns.medium-4(class='P(0)')
    //-       img(src='/public/img/ganchos.jpg')
    //-     .columns.medium-8
    //-       h2 MAGNA PRIMIS LOBORTIS SED ULLAMCORPER
    //-       p Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.
    //-   .row.expanded.f2
    //-     .columns.medium-8
    //-       h2 MAGNA PRIMIS LOBORTIS SED ULLAMCORPER
    //-       p Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.
    //-     .columns.medium-4(class='P(0)')
    //-       img(src='/public/img/mac_feet.jpg')
    //-   .row.expanded.f3
    //-     .columns.medium-4(class='P(0)')
    //-       img(src='/public/img/lady_phone.jpg')
    //-     .columns.medium-8
    //-       h2 MAGNA PRIMIS LOBORTIS SED ULLAMCORPER
    //-       p Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.
    //- #contact.contact
    //-   .row.expanded
    //-     .columns.medium-6
    //-     .columns.medium-6(class='P(0)')
    footer.footer
  #login-modal.login-modal.reveal(data-reveal)
    h3.subheader Login
    .row(class='Ta(c)')
      .medium-12.medium-center
        a.button.facebook(href='/auth/facebook')
          i.fa.fa-facebook-official
          span(class='Mstart(10px)') |
          span(class='Mstart(10px)') Login with Facebook

block scripts
  script.
    var loginError = !{JSON.stringify(error).replace(/<\//g, "<\\/")}
    var fbAccount = !{JSON.stringify(fbAccount).replace(/<\//g, "<\\/")}
