extends home/layout

block styles

block content
  #page-wrapper.page-wrapper
    include home/menu
    include home/bannerHome
    include home/howItWorks
    include home/pricing
    include home/contact
    include home/footer
