extends home/layout

block styles
  link(rel='stylesheet', href='/public/css/index#{minAssets}.css')

block content
  #page-wrapper
    #banner
      .row
        .columns.medium-12
          h1 Busy at Work, Busy With Family, Busy Life.
        .columns.medium-12
          h2 Get your laundry off the list, done deal.
        .columns.medium-12
          a(href="#one").more.scrolly Learn More
    #shorts
      .row
        .columns.medium-8.medium-offset-2
          h2 ARCU ALIQUET VEL LOBORTIS ATA NISL EGET AUGUE AMET ALIQUET NISL CEP DONEC
          hr
          h3 Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.
        .columns.medium-8.medium-offset-2
          .row
            .columns.medium-4
              i.fa.fa-usd
            .columns.medium-4
              i.fa.fa-car
            .columns.medium-4
              i.fa.fa-mobile
    #features
      .row.expanded.f1
        .columns.medium-4
          img(src='/public/img/ganchos.jpg')
        .columns.medium-8
          h2 MAGNA PRIMIS LOBORTIS SED ULLAMCORPER
          p Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.
      .row.expanded.f2
        .columns.medium-8
          h2 MAGNA PRIMIS LOBORTIS SED ULLAMCORPER
          p Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.
        .columns.medium-4
          img(src='/public/img/mac_feet.jpg')
      .row.expanded.f3
        .columns.medium-4
          img(src='/public/img/lady_phone.jpg')
        .columns.medium-8
          h2 MAGNA PRIMIS LOBORTIS SED ULLAMCORPER
          p Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.
    #pricing
      .columns.row
        .columns.medium-8.medium-offset-2
          h2 ARCU ALIQUET VEL LOBORTIS ATA NISL EGET AUGUE AMET ALIQUET NISL CEP DONEC
          hr
          h3 Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.
        .columns.medium-8.medium-offset-2
          .row
            .columns.medium-6
              i.fa.fa-usd
            .columns.medium-6
              i.fa.fa-car
            .columns.medium-6
              i.fa.fa-mobile
            .columns.medium-6
              i.fa.fa-mobile
    #contact
    footer
      .callout.large
        a(href='/auth/facebook')#facebook Login with Facebook
