extends main/layout

block styles

block content
  #site-wapper
    #container.ui.center.aligned.grid
      | !{html}
    footer.footer
      a(href='/') Home
      span /
      a(href='/main') Main
      span /
      a(href='/profile') Profile

block scripts
  script.
    var initialState = !{JSON.stringify(state).replace(/<\//g, "<\\/")}
    var error = !{JSON.stringify(error).replace(/<\//g, "<\\/")}
  script(src=`/public/app/build/main${minAssets}.js`)
