extends home/layout

block styles

block content
  #page-wrapper.page-wrapper
    include home/menu
    .page-title.callout.large.primary
      .row.column.text-center
        .columns.small-12
          img(src='/public/img/logo-sm.png')
        .columns.small-12(class='Pt(32px)')
          h1.shadow Donde atendemos!
    #shorts.shorts
      .row(class='Py(40px)')
        .columns.medium-8.medium-offset-2.small-12
          .big-text
            | Atendemos en casi toda la zona metropolitana (mapa con mas informacion), pero aun para muchas zonas tenemos un costo de recuperacion por el trasporte. 
            | Pero incluso con este costo somos mas baratos que mucha de la competencia, cotiza y compara!!! 
          div
            #map
          
    include home/footer

block scripts
  script.
    var loginError = !{JSON.stringify(error).replace(/<\//g, "<\\/")}
    var fbAccount = !{JSON.stringify(fbAccount).replace(/<\//g, "<\\/")}
