extends home/layout

block styles

block content
  #page-wrapper.page-wrapper
    include home/menu
    #page-title.callout.large.primary
      .row.column.text-center
        .columns.small-12
          img(src='/public/img/logo-sm.png')
        .columns.small-12(class='Pt(32px)')
          h1.shadow Precio de servicios. 
    #shorts.shorts
      .row(class='Py(40px)')
        .columns.medium-8.medium-offset-2.small-12
          .row.small-up-2.large-up-3
            .column
              ul.pricing-table.no-bullet.text-center
                li.title 
                  .circ-step(class='My(36px)')
                    img(src='/public/img/washing-machine.svg', width='36px', height='36px')
                li.price Desde $68.00
                li Lavanderia
                li.description Servicio de lavado desde $60, compara nuestros precios!
                li Entrega programada
                li
                  a.button(href='#' data-open="washingPriceDetails" ) Informacion
            .column
              ul.pricing-table.no-bullet.text-center
                li.title 
                  .circ-step(class='My(36px)')
                    img(src='/public/img/plancha.svg', width='36px', height='36px')
                li.price Desde $40.00
                li Planchaduria
                li.description Servicio de planchado desde $40, compara nuestros precios!
                li Entrega programada
                li
                  a.button(href='#' data-open="ironingPriceDetails" ) Informacion
            .column
              ul.pricing-table.no-bullet.text-center
                li.title 
                  .circ-step(class='My(36px)')
                    img(src='/public/img/gancho.svg', width='36px', height='36px')
                li.price Desde $45.00
                li Tintoreria
                li.description Servicio de tintoreria desde $45, compara nuestros precios!
                li Entrega programada
                li
                  a.button(href='#' data-open="dryCleaningPriceDetails" ) Informacion
    #washingPriceDetails.priceDetails.large.reveal(data-reveal='')
      .section-title
        h3 Detalle en precios lavanderia
      .blog-post
        h3
          | Ropa
        table
          thead
            tr
              th Carga
              th Detalle
              th Precio
          tbody
            tr
              td Carga 1
              td Aprox 1 - 5 Kg
              td $68.00
            tr
              td Carga 2
              td Aprox 1 - 10 Kg
              td $129.60
            tr
              td Carga 3
              td Aprox 1 - 15 Kg
              td $196.50
            tr
              td Carga 4
              td Aprox 1 - 20 Kg
              td $271.50
            tr
              td(colspan='3') ....
      div
        h3
          | Blancos
        table
          thead
            tr
              th Tipo
              th Individual
              th Matrimonial
              th Queen Size
              th King Size
          tbody
            tr
              td Sabanas
              td $50.00
              td $50.00
              td $50.00
              td $50.00
            tr
              td Colcha
              td $50.00
              td $50.00
              td $50.00
              td $50.00
            tr
              td Cobija
              td $65.00
              td $65.00
              td $65.00
              td $65.00
            tr
              td Edredon
              td $65.00
              td $65.00
              td $65.00
              td $65.00
      div
        p
          strong(class='My(36px)') Pregunta por precios a negocios. 
          br
          |  * Lavado de Tenis
      button.close-button(data-close='', aria-label='Close reveal', type='button')
        span(aria-hidden='true') ×
    #ironingPriceDetails.priceDetails.large.reveal(data-reveal='')
      .section-title
        h3 Detalle en precios planchado
      .blog-post
        table
          thead
            tr
              th Piezas
              th Precio
          tbody
            tr
              td 1
              td $20
            tr
              td 6
              td $40.00
            tr
              td 12
              td $65.00
            tr
              td 18
              td $95.00
            tr
              td(colspan='2') ....
      div
        p
          strong(class='My(36px)') Pregunta por precios a negocios. 
      button.close-button(data-close='', aria-label='Close reveal', type='button')
        span(aria-hidden='true') ×
    #dryCleaningPriceDetails.priceDetails.large.reveal(data-reveal='')
      .section-title
        h3 Detalle en precios planchado
      .blog-post
        table
          thead
            tr
              th Descripcion
              th Precio
          tbody
            tr
              td Pantalon, falda, saco, blusa, camisa, sueter, chaleco.
              td $45.00
            tr
              td Corbata
              td $35.00
            tr
              td Chamarra sencilla corta
              td $67.00
            tr
              td Chamarra larga
              td $85.00
            tr
              td Chamarra con plumas
              td $110.00
            tr
              td Chal
              td $42.00
            tr
              td Gabardida, abrigo,zarape,capa
              td $115.00
            tr
              td Ropon completo
              td $120.00
            tr
              td Traje
              td $90.00
            tr
              td Vestido corto
              td $68.00
            tr
              td Vestido largo
              td $125.00
            tr
              td Vestido primera comunion
              td $260.00
            tr
              td Vestido de 15 anos
              td $300.00
            tr
              td Vestido de novia
              td $450.00
      div
        p
          strong(class='My(36px)') Pregunta por precios a negocios. 
      button.close-button(data-close='', aria-label='Close reveal', type='button')
        span(aria-hidden='true') ×
    include home/footer
