link(rel='stylesheet', href=`https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome${minAssets}.css`)
link(rel='stylesheet', href=`https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate${minAssets}.css`)
